/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: black;



body {
  background-color: $primary-background;
  color: white;
}

.book-room,
.submit-button,
.name-submit,
.delete-booking,
.booking-submit,
.manager-booking-submit,
#room-filter {
  background: white;
}


.individual-room {
  border: 2px solid white;
  margin: 3% 1% 1% 1%;
  display: inline-block;
}


.name-submit {
  width: 4%;
  height: 3%
}
